<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.promasi.ui.exportwizard.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.promasi.ui.exportwizard.Perspective"
            id="org.promasi.ui.exportwizard.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.promasi.ui.exportwizard.application"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Hello RCP">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.promasi.ui.exportwizard.editor.ExportEditor"
            default="false"
            id="org.promasi.ui.exportwizard.exporteditor"
            name="Export Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
         
            class="org.promasi.ui.exportwizard.view.ExportView"
            id="org.promasi.ui.exportwizard.exportview"
            name="Export Wizard"
           >
      </view>
   </extension>

</plugin>
